.top-menu
{
	.navbar
	{
		border-width: 0px;
		background-color: #FFF;
		border-radius: 0px;
		border-bottom-width: 1px;
		.navbar-header
		{
			.navbar-brand
			{
				display: inline-block;
				height: auto;
			}
		}
		.navbar-collapse
		{
			.navbar-nav
			{
				li 
				{
					a 
					{
						padding: 30px;
						font-size: 18px;
						color: #333;
					}
				}
			}
			.dropdown-menu
			{
				padding: 0px;
				li 
				{
					border-bottom: 1px solid #dadddc;
					a 
					{
						padding: 10px 20px;
					}
				}
			}
		}
	}
}